body {
    font-family: system-ui, sans-serif;
    padding-inline: 5vw;
    padding-block: clamp(1rem, 5vh, 3rem);
    margin: 0;
}

a {
    text-underline-offset: 0.25em;
    color: blue;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.375em;
}

main {
    max-width: 45rem;
}

header {
    padding-bottom: 2em;
}

footer {
    padding-top: 2em;
}

section + section {
    margin-top: 2em;
}

li {
    margin: 1em 0;
}

.logo {
    display: inline-grid;
    align-items: center;
    gap: 0 1em;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    color: inherit;
    text-decoration: none;
}

.logo-icon {
    grid-row: 1 / span 2;
    width: 3em;
    height: 3em;
    color: #E5422B;
}

.logo-title {
    font-size: 1.25em;
}

.edit-button {
    display: inline-flex;
    gap: 0.25em;
    align-items: center;
}

.edit-button svg {
    width: 1.5em;
    height: 1.5em;
}

small {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.875em;
}

small + h1 {
    margin-top: 0;
}
