body {
    font-family: system-ui, sans-serif;
    padding-inline: 5vw;
    padding-block: clamp(1rem, 5vh, 3rem);
    margin: 0;
}

main {
    max-width: 45rem;
}

header {
    padding-bottom: 2em;
}

.logo {
    display: inline-grid;
    align-items: center;
    gap: 0 1em;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    color: inherit;
    text-decoration: none;
}

.logo-icon {
    grid-row: 1 / span 2;
    width: 3em;
    height: 3em;
    color: #E5422B;
}

.logo-title {
    font-size: 1.25em;
}
